<app-header></app-header>
<ion-content>

    <div *ngIf="(note$|async) as note">

            <h3> Edit {{ note?.title }}</h3>
            
        <form [formGroup]="editForm">

            <div class="Note-container">

                <ion-input placeholder ={{note?.title}} formControlName="title"  type="text"></ion-input>

                <ion-textarea placeholder={{note?.content}} formControlName="content"  type="text"></ion-textarea>

                <ion-button (click)="update()" expand="block">Edit</ion-button>

                <ion-button (click)= "delete()" expand="block">Delete</ion-button>
                
            </div>

        </form>
    </div>
</ion-content>